*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    color: currentColor !important;
    text-decoration: none !important;
}

li{
    list-style-type: none;
}

.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    padding: 14px 0;
    background-color: #F8F9FA;
}


main{
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.side-bar{
    width: 68px;
    background-image: url(./img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
}

@media all and (min-width: 992px){
    .side-bar{
        width: 150px;
    }
}

.main-content{
    flex-grow: 1;
    overflow-y: auto;
}

/*****************
HEADER
*****************/

.bell{
    color: #FF8F00;
}

.logo-sm{
    width: 32px;
}

.dropdown-menu{
    left: -150px !important;
}


/*****************
SIDE-BAR
*****************/

.list-group{
    height: 100%;
}

.list-group-item a:hover{
    background-color: rgba(248, 249, 250, 0.5) !important;
    border-radius: 0 !important;
}

/*****************
MAIN-HEADER
*****************/

.link-header{
    padding: 2px 8px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
}



.offcanvas{
    min-width: 100%;
}


@media all and (min-width: 992px){
    .offcanvas{
        min-width: 50%;
    }
}


.table-avatar{
    width: 30px;
    object-fit: contain;
}

.table-button{
    padding: 0 5px !important;
    font-size: 13px !important;
}

.card-table{
    width: 100% !important;
}

.card-main{
    padding: 25px 15px;
}

.card-check{
    width: 100% !important;
}

.card-img{
    width: 100% !important;
}